/* ===== BADGES ===== */

.badge {
    display: inline-block;
    padding: 0.70em;
    font-size: 0.75rem;
    font-weight: 800;
    line-height: 1;
    border-radius: 9999px;
    white-space: nowrap;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.3);
}

/* Farb-Varianten */

.badge-primary {
    background-color: #2563eb;
    color: #133c96;
}

.badge-secondary {
    background-color: #6b7280;
    color: #374151;
}

.badge-success {
    background-color: #16a34a;
    color: #064e3b;
}

.badge-warning {
    background-color: #d97706;
    color: #78350f;
}

.badge-danger {
    background-color: #dc2626;
    color: #7f1d1d;
}

.badge-info {
    background-color: #0891b2;
    color: #065267;
}

.badge-light {
    background-color: #e5e7eb;
    color: #374151;
}

.badge-dark {
    background-color: #1f2937;
    color: #f9fafb;
}
