@import url('menu.css');
@import url('main.css');
@import url('registercards.css');

body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 22px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    flex: 1;
}

div{
    box-sizing: border-box;
}

.button{
    background-color: #193042;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    width: 100px;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
}

.button:hover{
    background-color: #2d5675;
}

.mr{
    margin-right: 20px;
}

.mb{
    margin-bottom: 20px;
}

.mt{
    margin-top: 20px;
}

.ml{
    margin-left: 20px;
}

.Header{
    background-color: #193042;
    color: white;
    padding: 20px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
}

.header-container{
    display: flex;
    justify-content: left;
    flex-direction: row;
    justify-content: space-between;
}

.header-logo{
    background-image: url('logistikapp.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
}

.header-text-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
}

.header-title{
    font-size: 24px;
    font-weight: bold;
    align-self: center;
}

.header-menu{
    background-image: url('/icons/application.svg');
    align-self: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}

.user-menu{
    background-image: url('/icons/user_2.svg');
    align-self: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}

.header-title-text{
    font-weight: bold;
}

.Footer{
    background-color: #193042;
    color: rgb(108, 108, 108);
}

.footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Responsive Design */
@media (max-width: 600px) {
    .footer-text{
        font-size: 14px;
    }
    .header-logo{
        display: none;
    }
}
